<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timeliner</title>
    <link rel="stylesheet" href="/styles/boilerplate.css" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <style>
        .chromeFrameInstallDefaultStyle {
            margin:0;
            padding:0;
            left:0;
            top:0;
            width: 100%; /* default is 800px */
            height:100%;
        }
        #cf {
            height:100%;
            width:100%;
            padding: 0;
            margin: 0;
            border: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
<h1>Unsupperted browser or browser version.</h1>
</body>
</html>
